*{
    box-sizing: border-box;
}
 body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.9)), url(../img/matheus-ferrero-TkrRvwxjb_8-unsplash.jpg);
    background-size: cover;

}

.voiceinator{
    width: 800px;
    max-width: 80%;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.8),rgba(0, 0, 0, 0.9)), url(../img/matheus-ferrero-TkrRvwxjb_8-unsplash.jpg);
    border-radius: 25px;
    padding: 20px;
    font-size: 50px;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    transition: 1s all;
    
}
h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
}
.first{
    text-align: center;

}
#voices{
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
}
label{
    font-size: 30px;
    color: white;
}
input{
    width: 100%;
}
.hey{
    text-align: center;
    margin-top:5px ;
   
}
textarea{
    padding: 30px;
    color: white;
    background: rgba(0, 0, 0,0.5);
    font-size: 30px;
}
#stop{

    border-radius: 10px;
    padding: 7px;
    background-color:white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    transition: 1s all;
    width: 20%;
    font-style: normal;
    color: black;
    border: none
}
#speak{
    position: relative;
    left:450px;
    border-radius: 10px;
    padding: 7px;
    background-5olor:white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    transition: 1s all;
    width: 20%;
    font-style: normal;
    color: black;
    border: none
}
@media screen and (max-width:480px){ body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f2f2f2 !important;
}

.voiceinator{
    width: 800px;
    max-width: 80%;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.8),rgba(0, 0, 0, 0.9)), url(../img/photo-1472162072942-cd5147eb3902.png);
    border-radius: 20px;
    padding:20px;
    transition: 1s all;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    animation-duration: 5s;
    animation-name: slidein;
    }
@keyframes slidein {
from{margin-left: 100px;
    width: 300%};
    to {
        margin-left: 0%;
        width: 100%;
    }
    
}
h1{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.first{
    text-align: center;
    margin-top: -15px;
}
#voices{
    padding: 3px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    
}
label{
    font-size: 20px;
    color: white;
}
input{

    width: 100%;
    
}
.hey{
    text-align: center;  
}
textarea{
    padding: 5px;
    color: white;
    background: rgba(0, 0, 0,0.5);
    font-size: 16px;
}
#stop{

    border-radius: 3px;
    padding: 4px;
    background-color:white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    transition: 1s all;
    width: 30%;
    font-style: normal;
    color: black;
    border: none
}
#speak{
    position: relative;
    left:80px;
    border-radius: 3px;
    padding: 4px;
    background-color:white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    transition: 1s all;
    width: 30%;
    font-style: normal;
    color: black;
    border: none
}
input[type=range]::-moz-range-thumb{
    background:#E27396 ;
}

}